[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
aniso8601 = "==3.0.2"
click = "==6.7"
coverage = "==4.5.1"
itsdangerous = "==0.24"
peewee = "==3.7.0"
pytz = "==2018.5"
six = "==1.11.0"
Flask = "==1.0.2"
Flask-HTTPAuth = "==3.2.4"
Flask-RESTful = "==0.3.6"
Jinja2 = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.6"
